@use 'variables.scss';

.product-card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: variables.$primary-color;
  border: 2px solid variables.$border-color;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  box-shadow: variables.$light-shadow;
  padding-bottom: 1.2rem;

  &:hover {
    transform: translateY(-5px);
    box-shadow: variables.$light-shadow-hover;
  }

  &.dark-theme {
    border: 2px solid variables.$border-darkTheme;
    box-shadow: variables.$dark-shadow;

    &:hover {
      box-shadow: variables.$dark-shadow-hover;
    }
  }

  .product-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .product-nav-items {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;

    .promo {
      padding: 0.25rem 0.5rem;
      background-color: #ef4444;
      color: white;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.25rem;
      border-radius: 0.25rem;
    }

    .fav-icon {
      font-size: 1.5rem;
      line-height: 2rem;
      color: #facc15;
    }
  }

  .product-caption {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f2f2f2;
    gap: 0;
    flex-wrap: wrap;

    span:first-of-type {
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 3em;
    }

    &.dark-theme {
      color: variables.$color;
    }
  }
}
