$font: 'Nunito', sans-serif;
$font-title: 'Lato', serif;
$radius: 0.5rem;

$primary-color: #c0392b;
$focus-ring-color: #e74c3c;

$background-color: #dfdfdf;
$color: #1a1a1a;
$border-color: #333333;

$background-darkTheme: #151d28;
$color-darkTheme: #f7f7f7;
$border-darkTheme: #e0e0e0;

$button-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

$light-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
$light-shadow-hover: 4px 10px 12px rgba(0, 0, 0, 0.9);

$dark-shadow: 0px 4px 10px rgba(223, 223, 223, 0.5);
$dark-shadow-hover: 4px 6px 4px rgb(223, 223, 223, 0.9);

$dark-shadow-navbar-footer: 2px 3px 4px rgb(223, 223, 223, 0.9);

$light-skeleton-from: #f0f0f0;
$light-skeleton-via: #e0e0e0;
$light-skeleton-to: #f0f0f0;

$dark-skeleton-from: #2a2a2a;
$dark-skeleton-via: #3a3a3a;
$dark-skeleton-to: #2a2a2a;
