@use 'variables.scss';
@use 'navbar.scss';
@use 'product-grid.scss';
@use 'media-querys.scss';

*,
body,
section,
h1,
h2,
div,
p,
a,
li,
ul,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template:
    'navbar' 100px
    'product-grid' 1fr
    'footer' 50px
    /100%;
  height: 100vh;
  margin: 0 auto;
  background-color: variables.$background-color;
  color: variables.$color;
  font-size: 1.2rem;
  font-family: variables.$font;
}

#root.dark-theme {
  background-color: variables.$background-darkTheme;
  color: variables.$color-darkTheme;
}

h1,
h2 {
  font-family: variables.$font-title;
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}
