*,
body,
section,
main,
h1,
h2,
h3,
div,
p,
a,
li,
ul,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font: 'Open Sans', 'Helvetica Neue', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --font-title: Georgia, 'Times New Roman', Times, serif;
  /* --font-size: 1.2rem; */
  --color: #0f8ff0;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.5rem;
}

body {
  background-color: rgba(18, 24, 33, 0.8);
  color: rgb(55, 55, 55);
  font-size: 1.2rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body,
input {
  /* font-size: var(--font-size); */
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}
