// ≤480px: 1 col · 481–768px: 2 cols · 769–1024px: 3cols · ≥1025px: 4 cols.

@media (min-width: 481px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
